---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Discography } from "../utils/sanity";
import PortableText from '../components/PortableText.astro';

interface Props {
  discography: Discography;

}

const { discography } = Astro.props;
---

<div class="card">
  {
    discography.cover ? (
      <img
        class="card__cover"
        src={urlFor(discography.cover).width(600).height(600).url()}
        alt="Cover image"
      />
    ) : (
      <div class="card__cover--none" />
    )
  }
  <div class="card__container">
    <h2 class="card__title">
      {discography.title}
    </h2>
    {
      discography.releaseDate ? (
      <p class="card__date">
        Release date: {formatDate(discography.releaseDate)}
      </p>
      ) : (
        <p></p>
      )
    }
    
    {
      discography.listenURL ? (
        <a
          class="card__listen"
          href={discography.listenURL}
          target="_blank"
        >Listen</a>
      ) : (
        <p></p>
      )
    }
    <div class="post__content tracklist">
      <PortableText portableText={discography.body} />
    </div>
  </div>
</div>

<style lang="scss">
  .card {
    @apply lg:flex lg:flex-row gap-20 h-[50vh] border-b-2 border-b-neutral-800;

    .card__container {
      @apply my-8;
    }

    .card__cover {
      @apply w-full max-w-fit object-contain;
      height: calc(50vh - 2px);
    }

    .card__listen {
      @apply bg-neutral-600 px-8 py-2 mt-4 mb-8 text-center rounded-full max-w-fit;
    }

    .card__cover--none {
      @apply w-full h-[500px] bg-black;
    }
  }
</style>
